{% extends 'base.html.twig' %}

{% block body %}
    <main class="tv_show_list">
        <h1>Séries télés</h1>
        <div>
            <form>
                <input
                    type="text"
                    value="{{ app.request.get('search') }}" 
                    name="search"
                    placeholder="Rechercher par titre"
                >
                <button type="submit">Rechercher</button>
            </form>
        </div>
        <section>
            {% for tvShow in tvShows %}
                <article>
                    <a href="{{ path('tv_show_view', {'id': tvShow.id, 'slug': tvShow.slug}) }}">
                        <h4>{{ tvShow.title }}</h4>
                        {% if tvShow.pictureFile is not empty %}
                            <img src="{{ asset('uploads/img-tv_show/' ~ tvShow.pictureFile) }}" alt="image">
                        {% endif %}
                        <p>{{ tvShow.seasons.count }} saisons</p>
                    </a>
                </article>
            {% endfor %}
        </section>
        <div class="pagination">
            {{ knp_pagination_render(tvShows) }}
        </div>     
    </main>

{% endblock %}
