{% extends 'base.html.twig' %}

{% block body %}
<h1 class="tv_show-title">Séries télés</h1>        
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('tv_show_add') }}" class="btn btn-primary">Ajouter une série</a>
    {% endif %}

    <form class="form-search">
        <input
            class="form-search-input"
            type="text"
            value="{{ app.request.get('search') }}" 
            name="search"
            placeholder="Rechercher par titre"
        >
        <button type="submit" class="form-search-button">Rechercher</button>
    </form>

    <main class="tv_show-list">
        {% for tvShow in tvShows %}
            <a 
            style="background-image: url({{ asset('uploads/' ~ tvShow.pictureFile) }});  background-size: cover;"
            href="{{ path('tv_show_view', {'id': tvShow.id}) }}">
                {{ tvShow.title }}
                <p>{{ tvShow.seasons.count }} saisons</p>
                {# {% if tvShow.pictureFile is not empty %}
                    <img src="{{ asset('uploads/' ~ tvShow.pictureFile) }}" alt="image">
                {% endif %}
            </a> #}
        {% endfor %}
    </main>
{% endblock %}
