{% extends 'base.html.twig' %}

{% block body %}
    <h2>Modifier une série</h2>

{{ form_start(tvShowForm) }}
    <div class="row">
        <div class="col-sm-6">
            {{ form_row(tvShowForm.title) }}
            {{ form_row(tvShowForm.releaseDate) }}
            {{ form_row(tvShowForm.directedBy) }}
            {{ form_row(tvShowForm.categories) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(tvShowForm.synopsis) }}
        </div>
    </div>
    <input type="submit" value="Modifier" class="btn btn-primary">
{{ form_end(tvShowForm) }} 

{% endblock %}