{% extends 'base.html.twig' %}

{% block body %}
    <main class="tv_show_view">
        <h1>{{ tvShow.title }}</h1>
        <ul>
            {% for category in tvShow.categories %}
                <li><a href="{{ path('category_view', {'id': category.id}) }}">{{ category.label }}</a></li>
            {% endfor %}
        </ul>
        <article>
            <ul>
                {% if tvShow.directedBy is not empty %}
                    <li><span>Show runner :</span> {{ tvShow.directedBy.fullName }}</li>
                {% endif %}
                {% if tvShow.releaseDate is not empty %}
                    <li><span>Première diffusion :</span> {{ tvShow.releaseDate | date("d/m/Y") }}</li>
                {% endif %}
            </ul>
            <p><span>Synopsis :</span> {{ tvShow.synopsis }}</p>
        </article>
        <h3>Personnages principaux</h3>
        <section>
            {% for character in tvShow.characters %}
                <aside>
                    {% if character.pictureFilename is not empty %}
                        <img src="{{ asset('uploads/pictures_characters/' ~ character.pictureFilename) }}">
                    {% endif %}
                    <h5>{{ character.name }}</h5>
                    {% if character.actors is not empty %}
                        {% for actor in character.actors %}
                            <p>{{ actor.fullName }}</p>
                        {% endfor %}
                    {% endif %} 
                </aside>
            {% endfor %}
        </section>
        
        <h3>Saison</h3>
        <ul>
            {% for season in tvShow.seasons %}
            <li>
                <a href="{{ path('season_view', {'id': season.id}) }}">
                    Saison n°{{ season.number }} ({{ season.year }})
                </a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('season_update', {'id': season.id}) }}"><i class="material-icons">edit</i></a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </main>

{% endblock %}
