{% extends 'base.html.twig' %}

{% block body %}
    <main class="tv_show_view">
        <h1 class="tv_show_view__title">{{ tvShow.title }}</h1>
        <ul class="tv_show_view__categories">
            {% for category in tvShow.categories %}
                <li><a href="{{ path('category_view', {'id': category.id}) }}" class="tv_show_view__category">{{ category.label }}</a></li>
            {% endfor %}
        </ul>
        <article class="article">
            <ul>
                {% if tvShow.directedBy is not empty %}
                    <li><strong>Show runner :</strong> {{ tvShow.directedBy.fullName }}</li>
                {% endif %}
                {% if tvShow.releaseDate is not empty %}
                    <li><strong>Première diffusion :</strong> {{ tvShow.releaseDate | date("d/m/Y") }}</li>
                {% endif %}
            </ul>
            <p class="synopsis"><strong>Synopsis :</strong> {{ tvShow.synopsis }}</p>
        </article>
        <h3 class="tv_show_view__subtitle">Personnages principaux</h3>
        <section class="tv_show_view__actors">
            {% for character in tvShow.characters %}
                <aside>
                    {% if character.pictureFilename is not empty %}
                        <img src="{{ asset('uploads/pictures_characters/' ~ character.pictureFilename) }}" class="picture">
                    {% endif %}
                    <p class="tv_show_view__name">{{ character.name }}</p>
                    {% if character.actors is not empty %}
                        {% for actor in character.actors %}
                            <p class="tv_show_view__actor">({{ actor.fullName }})</p>
                        {% endfor %}
                    {% endif %} 
                </aside>
            {% endfor %}
        </section>
        
        <h3 class="tv_show_view__subtitle">Saisons</h3>
        <aside class="tv_show_view__seasons">
                {% for season in tvShow.seasons %}
                      <h4 class="tv_show_view__season"> Saison n°{{ season.number }} ({{ season.year }})</h4>
                        <ul class="tv_show_view__episodes">
                            {% for episode in season.episodes %}
                                <li class="tv_show_view__episode">épisode n°{{ episode.number }} - {{ episode.title }}</li>
                            {% endfor %}
                        </ul>
                {% endfor %}
        </aside>
    </main>
    {% block javascripts %}
        <script>
            {# $(".tv_show_view")
            .css(
                {
                    "background-image": "url('{{ asset('uploads/img-tv_show/' ~ tvShow.pictureFile) }}')",
                    "background-repeat": "no-repeat",
                    "background-size": "cover",
                }
            )  #}
        </script>
    {% endblock %}
{% endblock %}