{% extends 'base.html.twig' %}

{% block body %}
    <main class="tv_show_view">
        <h2 class="tv_show_view-title">{{ tvShow.title }}</h2> 
            {% if is_granted('ROLE_ADMIN') %}      
                <a href="{{ path('tv_show_update', {'id': tvShow.id}) }}" class="btn btn-primary">Modifier</a>
            {% endif %}      
            <div class="tv_show_view-categories">
                {% for category in tvShow.categories %}
                    <a href="{{ path('category_view', {'id': category.id}) }}">{{ category.label }}</a>
                {% endfor %}
            </div>
        
        <section class="tv_show_view-synopsis">
            <ul>
                {% if tvShow.directedBy is not empty %}
                    <li><span>Show runner :</span> {{ tvShow.directedBy.fullName }}</li>
                {% endif %}
                {% if tvShow.releaseDate is not empty %}
                    <li><span>Première diffusion :</span> {{ tvShow.releaseDate | date("d/m/Y") }}</li>
                {% endif %}
            </ul>    
            <p class="tv_show_view-text"><span>Synopsis :</span> {{ tvShow.synopsis }}</p>    
        </section>
        <hr>

        <h3 class="tv_show_view-subtitle">Personnages principaux</h3>
        <section class="tv_show_view-persons">
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('character_add', {'id': tvShow.id}) }}" class="btn btn-primary">Ajouter</a>
            {% endif %}

            {% for character in tvShow.characters %}
                {# {% if not loop.first %}
                <hr>
                {% endif %} #}
                <div class="tv_show_view-persons-cards">
                    {% if character.pictureFilename is not empty %}
                        <img src="{{ asset('uploads/' ~ character.pictureFilename) }}">
                    {% endif %}
                    <div class="tv_show_view-name">
                        <h5>{{ character.name }}
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('character_update', {'id': character.id}) }}"><i class="material-icons">edit</i></a>
                            {% endif %}
                        </h5>
                        {% if character.actors is not empty %}
                             {% for actor in character.actors %}
                                <p>{{ actor.fullName }}</p>
                            {% endfor %}
                        {% endif %} 
                    </div>                   
                </div>
            {% endfor %}
        </section>

        <h3 class="tv_show_view-subtitle">Saison</h3>
        <div>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('season_add', {'id': tvShow.id}) }}" class="btn btn-primary">Ajouter</a>
            {% endif %}
        </div>

        <ul>
            {% for season in tvShow.seasons %}
            <li>
                <a href="{{ path('season_view', {'id': season.id}) }}">
                    Saison n°{{ season.number }} ({{ season.year }})
                </a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('season_update', {'id': season.id}) }}"><i class="material-icons">edit</i></a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </main>

{% endblock %}
