{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ tvShow.title }}</h1>

    <ul class="list-inline">
        {% for category in tvShow.categories %}
            <li class="list-inline-item">
                <a href="{{ path('category_view', {'id': category.id}) }}">{{ category.label }}</a>
            </li>
        {% endfor %}
    </ul>

    <ul>
        {% for character in tvShow.characters %}
            <li>
                {{ character.name }}
                {% if character.actors is not empty %}
                (
                    {% for actor in character.actors %}
                        {% if not loop.first %}, {% endif %}
                        {{ actor.firstName }} {{ actor.lastName }}
                    {% endfor %}
                )
                {% endif %}
            </li>
        {% endfor %}
    </ul>

{% endblock %}