{% extends 'base.html.twig' %}

{% block body %}
    <div class="admin-tvshow">
        <ul class="admin-list">
            <li><a href="{{ path('tv_show_add') }}" class="table-link">ajouter une série</a></li>
        </ul>
        <table>
            <thead>
                <tr>
                    <th colspan="4">Séries</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Titre</td>
                    <td>Date de sortie</td>
                    <td>Nombre de saison</td>
                    <td>Infos</td>
                </tr>
                {% for tvShow in tvShows %}
                    <tr>
                        <td>{{ tvShow.title }}</td>
                        <td>{{ tvShow.releaseDate | date("d/m/Y") }}</td>
                        <td>{{ tvShow.seasons.count }}</td>
                        <td><a href="{{ path('tv_show_view', {'id': tvShow.id}) }}">Détails</a></td>
                        <td><a href="{{ path('season_add', {'id': tvShow.id}) }}" class="table-link"><i class="las la-plus-circle la-2x"></i></td>
                        <td><a href="{{ path('character_add', {'id': tvShow.id}) }}"><i class="las la-plus-circle la-2x"></i></a></td>
                        <td class="table-button_delete"> <a href="{{ path('tv_show_update', {'id': tvShow.id}) }}"><i class="lar la-edit la-2x"></i></a></td>
                        <td class="table-button_delete"><a onClick="return confirm('Confirmez la suppression');" href="{{ path('tv_show_delete', {'id': tvShow.id}) }}"><i class="lar la-trash-alt la-2x"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <ul class="admin-list">
        <li>
            <a href="{{ path('category_add') }}"  class="button-add">ajouter une catégorie</a>
         </li>
    </ul>
    <table>
        <thead>
            <tr>
                <th colspan="4">Catégories</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nom</td>
                <td>Nombre de série associer</td>
                <td>Détails</td>
                <td>supprésion</td>
            </tr>
            {% for category in categories %}
                <tr>
                    <td>{{ category.label }}</td>
                    <td>{{ category.tvShows.count }}</td>
                    <td><a href="{{ path('category_view', {'id': category.id}) }}">Détails</a></td>
                    <td>
                        <a href="{{ path('category_delete', {'id': category.id}) }}" onClick="return confirm('Confirmez la suppression');" class="btn btn-danger">Supprimer</a>
                    </td>
                </tr>            
            {% endfor %}
        </tbody>
    </table>
    <ul class="admin-list">
        <li>
                <a class="table-link" href="{{ path('person_add') }}">ajouter une acteur</a>
        </li>
    </ul>
    <table>
        <thead>
            <tr>
                <th colspan="6">Acteurs</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Prénom</td>
                <td>Nom</td>
                <td>Genre</td>
                <td>Date de naissance</td>
                <td>Détails</td>
                <td>suppresion</td>
            </tr>
            {% for person in persons %}
                <tr>
                    <td>{{ person.firstName }}</td>
                    <td>{{ person.lastName }}</td>
                    <td>{{ person.gender }}</td>
                    <td>{{ person.birthDate | date("d/m/Y") }}</td>
                    {# <td>{{ person.firstName }}</td> #}
                    <td><a href="{{ path('person_view', {'id': person.id}) }}">Détails</a></td>
                    <td>
                        <a href="{{ path('person_delete', {'id': person.id}) }}" onClick="return confirm('Confirmez la suppression');" class="btn btn-danger">Supprimer</a>
                    </td>
                </tr>            
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
