{% extends 'base.html.twig' %}
{% block body %}
    <h2 class="form-title">Ajouter une série</h2>

{{ form_start(tvShowForm) }}
    
    {# form_widget(tvShowForm) permet d'afficher tout les champs du formulaire d'un coup #}
    <div class="form">
        {{ form_row(tvShowForm.title) }}
        {{ form_row(tvShowForm.releaseDate) }}
        {{ form_row(tvShowForm.directedBy) }}
        {{ form_row(tvShowForm.categories) }}
        {{ form_row(tvShowForm.picture) }}
        {{ form_row(tvShowForm.synopsis) }}
        <input type="submit" value="Ajouter" class="form-button">
    </div>
    
{{ form_end(tvShowForm) }} {# </form> #}
{% endblock %}